<h1>Demos#callback</h1>
<p>Find me in app/views/demos/callback.html.erb</p>

<form action="#" multi-data>

  <input type="file" name="stampImage" id="stampImage" />

  <!-- Parse response and send to template -->
  <input type="text" value=<%= @response["stamp"]["serial"] %> />

  <input type="submit" value="submit" />
  
</form>

<% if (@data["new"]) %>

	"HEY"

<% end %>