<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert alert-info" %>
<% end %>

<h1>HOME SCREEN</h1>

<%= link_to "VIEW STAMP", "http://beta.snowshoestamp.com/applications/client/4a950d6f134d084c12d6/", class: "button" %>
<%= link_to "NEW STAMP", "http://beta.snowshoestamp.com/applications/client/4a950d6f134d084c12d6/?new=true", class: "button" %>
<%= link_to "EDIT STAMP", "http://beta.snowshoestamp.com/applications/client/4a950d6f134d084c12d6/?edit=true", class: "button" %>
