<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert alert-info" %>
<% end %>

<h1>HOME SCREEN</h1>

<%= link_to "VIEW STAMP", "http://beta.snowshoestamp.com/applications/client/5bc9c3ddf1f46265e03a/" %>
<%= link_to "NEW STAMP", "http://beta.snowshoestamp.com/applications/client/5bc9c3ddf1f46265e03a/?new=true" %>
<%= link_to "EDIT STAMP", "http://beta.snowshoestamp.com/applications/client/5bc9c3ddf1f46265e03a/?edit=true" %>
