<h1>Demos#new</h1>
<p>Find me in app/views/demos/new.html.erb</p>

<h1>MAKE A STAMP HEREEEEEE!!!! CHICKEN! BURRRITA! BUTTFACE! SUGAR BUNS!</h1>

<!-- pass local variable @response for this to work -->
<%= form_for @demo do |d| %>
	<fieldset>
		<%= d.label :stamp_serial, "Stamp Serial" %>
		<%= d.text_field :stamp_serial, @response["stamp"]["serial"] %>
	</fieldset>

	<%= d.submit %>
<% end %>